.mat-elevation-z8 {
    position: relative;
    bottom: 405px;
}

#create-btn {
    position: relative;
    bottom: 407px;
    width: 100%;
    height: 50px;
}

#info-btn1 {
    font-size: small;
    color: goldenrod;
}

#info-btn2 {
    font-size: small;
}

#info-btn3 {
    font-size: small;
    color: red;
}